<%= link_to "New Post", new_blog_poster_path, :class => "btn btn-primary btn-md"%>
<% @posts.each do |post|%>
   <div class="blog-post">
      <h1><%= link_to post.title, blog_poster_path(post.id) %></h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><%= post.body %></p>
        </div>
        <p class="pull-right time-padding">Posted <%= distance_of_time_in_words(Time.now, post.created_at) %> ago</p>
      </div>
   </div>
<%end%>
